# {{project_name}}

![GitHub go.mod Go version](https://img.shields.io/github/go-mod/go-version/{{ github_repository }}?style=for-the-badge)
![Go Report Card](https://goreportcard.com/badge/github.com/{{ github_repository }}?style=for-the-badge)
![GitHub Workflow Status](https://img.shields.io/github/actions/workflow/status/brpaz/{{ github_repository }}/ci.yml?branch=main&style=for-the-badge)](https://github.com/{{ github_repository }}/actions)
![License](https://img.shields.io/github/license/{{ github_repository }}?style=for-the-badge)](./LICENSE)

> {{project_description}}

## 🚀 Getting Started

## Usage

TODO

## 🤝 Contributing

TBD

## 🫶 Support

If you find this project helpful and would like to support its development, there are a few ways you can contribute:

[![Sponsor me on GitHub](https://img.shields.io/badge/Sponsor-%E2%9D%A4-%23db61a2.svg?&logo=github&logoColor=red&&style=for-the-badge&labelColor=white)](https://github.com/sponsors/brpaz)

<a href="https://www.buymeacoffee.com/Z1Bu6asGV" target="_blank"><img src="https://www.buymeacoffee.com/assets/img/custom_images/orange_img.png" alt="Buy Me A Coffee" style="height: auto !important;width: auto !important;" ></a>

## ❤️ Acknowledgements

## 📃 License

Distributed under the MIT License. See [LICENSE](LICENSE) file for details.

## 📩 Contact

- 📧 **Email**: [oss@brunopaz.dev](mailto:oss@brunopaz.dev)
- 🐞 **Issues**: [GitHub Issues]({{github_url}}/issues)
- 🖇️ **Source**: [{{github_url}}]({{github_url}})


